html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: transparent; }
#div2 { background: transparent; }
#div3 { background: transparent; }
#div4 { background: transparent; }

.C-Icon {

    height: 90px ;
    width: 90px ;
    
}

#country_buttons{
    float: unset;
    margin-left: auto;
    margin-right: auto;
}



